/* 61d1d5 */
/* e83556 */

/* font-family: 'Fredoka One', cursive;
font-family: 'Open Sans', sans-serif;*/

html, body {
  font-size: 16px;
  font-family: 'Fredoka One', cursive;
  color: #000;
}
/* Nav bars */
.navbar {
  margin-top: 0;
  padding: 1rem 2rem;
}

.navbar-brand {
  padding-left: 0;
  padding-bottom: 0;
  height: auto;
  color: #fff;
  font-size: 2.5rem;
}

.navbar-right {
  margin-right: 0;
}

.fa-bars {
    color: #015FA3;
    font-size: 1rem;
    padding: 0;
}

.navbar-default .navbar-toggle {
  padding: .15rem .35rem;
  margin-top: .7rem;
  border: none;
}

.navbar-collapse {
  background-color: none;
}

.navbar-default {
  background-color: rgba(255,255,255,.9);
  border: none;
  margin: 0;
  z-index: 9999;
}

.navbar-default .navbar-brand {
  color: #61d1d5;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.navbar-default .navbar-brand:focus {
  color: #e83556;
}

.navbar-default .navbar-brand:hover {
  color: #61d1d5;
}

.navbar-default .navbar-nav > li > a {
  color: #e83556;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 0;
  margin-left: 1rem;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #e83556;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #61d1d5;
}

/* navbar-transparent nav on landing, hidden */
.navbar-transparent {
  background-color: transparent;
  border: none;
  padding-top: 1.5rem;
  display: none;
}

/* .navbar-transparent .navbar-brand:focus {
  color: #fff;
}

.navbar-transparent .navbar-brand:hover {
  color: #fff;
}

.navbar-transparent .fa-bars {
    color: #fff;
    font-size: 1.25rem;
}

.navbar-transparent .navbar-nav > li > a {
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin-left: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.navbar-transparent .navbar-nav > li > a:focus, .navbar-transparent .navbar-nav > li > a:active {
  color: #fff;
  background: transparent;
}

.navbar-transparent .navbar-nav > li > a:hover {
    color: #fff;
    background: transparent;
} */

/* Hero */

#name-header {
  position: absolute;
  top: 10px;
  color: #61d1d5;
  font-size: 3rem;
}

.hero {
  height: 100vh;
  padding: 0;
  /* background: #61d1d5; */
  background: linear-gradient(to right bottom, #e83556 50%, #61d1d5 50%);
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
}

.hero h1 {
  color: #e83556;
  font-size: 6rem;
  font-weight: bold;
  padding-top: 8rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
}

.hero-front-end {
  animation-duration: 3s;
  margin-bottom: 10rem;
}

.hero-front-end h1, .hero-developer h1  {
  color: #fff;
}

.hero-developer {
  animation-duration: 3s;
  animation-delay: 1s;
  margin-top: 10rem;
}

.hero-skills {
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.hero-skills img {
  height: 60px;
  margin: 0 1.5rem;
}

.html {
  animation-duration: 1s;
  animation-delay: 2.2s;
}

.css {
  animation-duration: 1s;
  animation-delay: 2.6s;
}

.javascript {
  animation-duration: 1s;
  animation-delay: 3s;
}

.ruby {
  animation-duration: 1s;
  animation-delay: 3.4s;
}

.rails {
  animation-duration: 1s;
  animation-delay: 3.8s;
}


/* Headings */
.section-heading {
  margin-top: 0px;
  padding-bottom: 0;
  font-size: 3rem;
  line-height: 36px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

/* Heart */
#heart {
  width: 100%;
  padding: 8rem 0 10rem 0;
  background-color: #fff;
  color: #61d1d5;
}

.heart-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-heading {
  margin: 0
}

.wink-face {
  max-height: 40px;
  margin-left: 1rem;
}

.referrals-row {
  margin: 0;
  padding: 3rem 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(232,53,86,0.25);
}

.referrals-row:last-child {
  border: none;
}

.ref-content .fas {
  color: #61d1d5;
}

.ref-content {
  margin: 0;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.75rem;
}

.ref-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ref-image img {
  max-width: 150px;
  border-radius: 50%;
}

.ref-link {
  margin: .5rem 0 0 0;
}

.ref-link a {
  color: #e83556;
  font-size: 1.25rem;
}

.ref-link a:hover {
  text-decoration: none;
  color: #61d1d5;
}

.ref-relationship {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

/* About */
.about-section {
  background-color: #61d1d5;
  padding: 1rem 0 0 0;
  margin-top: 5rem;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  position: relative;
  z-index: 8;
}

.about-section:before {
  background: inherit;
  top: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(5deg);
  -webkit-transform: skewY(5deg);
  transform-origin: 100% 0;
  -webkit-transform-origin: 100% 0;
  z-index: -1;
}

.about-section:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform-origin: 100%;
  -webkit-transform-origin: 100%;
  z-index: -2;
}

.story-row {
    color: #fff;
    text-align: left;
    margin: 0 auto;
    font-size: 1.35rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .58px;
    line-height: 2.6rem;
    padding-top: 6rem;
}

.about-row {
    text-align: left;
    width: 65%;
    margin: 0 auto;
    font-size: 1.35rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .58px;
    line-height: 2.6rem;
}

#about-subtitle {
  color: #fff;
  display: block;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-family: 'Fredoka One', cursive;
}

.about-paragraph {
  color: #fff;
  margin-bottom: 2rem;
  font-weight: lighter;
}

/* Projects */
.projects-section {
  width: 100%;
  padding: 12rem 0 6rem 0;
  background-color: #fff;
  color: #61d1d5;
}

.projects-row {
  margin: 0;
  padding: 5.5rem 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(232,53,86,0.25);
}

.projects-row:last-child {
  border: none;
}

.projects-content-box {
  width: 90%;
  color: #000
}

.projects-content-box.middle {
  margin-left: 4rem;
}

.project-title, .project-title:focus {
  display: block;
  color: #e83556;
  font-size: 2.25rem;
  line-height: 40px;
  letter-spacing: 3px;
  margin-top: 0px;
  margin-bottom: .25rem;
  text-decoration: none;
}

.project-title:hover {
  color: #61d1d5;
  text-decoration: none;
}

.projects-paragraph {
  font-size: 1.25rem;
  line-height: 33px;
  letter-spacing: .5px;
  font-family: 'Open Sans', sans-serif;
}

.tech-title {
  display: block;
  color: #61d1d5;
  font-size: 1.75rem;
  letter-spacing: 3px;
  margin-top: .75rem;
}

.tech-used {
  font-size: 1.1rem;
  line-height: 33px;
  letter-spacing: .5px;
  font-family: 'Open Sans', sans-serif;
}

.project-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

.project-image span {
  margin-top: .5rem;
}

/* Resume */
.resume-section {
  background-color: #61d1d5;
  padding: 4rem 0;
  color: #fff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  position: relative;
  z-index: 8;
}

.resume-section:before {
  background: inherit;
  top: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(3deg);
  -webkit-transform: skewY(3deg);
  transform-origin: 100% 0;
  -webkit-transform-origin: 100% 0;
  z-index: -1;
}

.resume-section:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  transform-origin: 100%;
  -webkit-transform-origin: 100%;
  z-index: -2;
}

.resume-container {
  margin: 0 auto;
  padding: 1rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-text {
  font-size: 3.5rem;
  margin-bottom: 4rem;
  letter-spacing: 2px;
}

.resume-button a, .resume-button a:focus {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  padding: .75rem 2rem;
  background-color: #e83556;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .35);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .35);
  letter-spacing: 2px;
}

.resume-button a:hover {
  text-decoration: none;
  color: #e83556;
  background-color: #fff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .35);
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .35);
  -moz-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .35);
}

/* Blog not all in index file, generated from js*/
.blog-section {
  width: 100%;
  padding: 12rem 0 14rem 0;
  background-color: #fff;
  color: #61d1d5;
}

.blog-wrapper {
  margin-top: 2rem;
}

.blog-row a {
  text-decoration: none;
}

.blog-post {
  margin-top: 2rem;
}

.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
}

.post-title {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

.post-title a {
  color: #e83556;
}

.blog-content a:hover {
  color: #61d1d5;
}

.blog-content p, .blog-content blockquote {
  color: #000;
  font-size: 1.15rem;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.blog-more {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 2rem;
}

.blog-more a {
  color: #e83556;
  text-decoration: none;
}

.blog-more a:hover {
  color: #61d1d5;
}

/* Contact */
.contact-section {
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 3rem 0 5rem 0;
  background-color: #61d1d5;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  position: relative;
  z-index: 8;
}

.contact-section:before {
  background: inherit;
  top: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(5deg);
  -webkit-transform: skewY(5deg);
  transform-origin: 100% 0;
  -webkit-transform-origin: 100% 0;
  z-index: -1;
}

.contact-row {
  display: flex;
  justify-content: center;
  padding: 4rem 0 0 0;
}

.contact-row img {
  height: 175px;
}

.contact-text {
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding-left: 2rem;
}

#contact .fab, #contact .fas {
  padding-top: 2rem;
  /* padding-bottom: 1rem; */
  padding-right: 1.5rem;
  font-size: 2.25rem;
  color: #e83556;
}

#contact .fab:hover, #contact .fas:hover {
  color: #fff;
}

/* Footer */
#footer {
  padding: 1rem 0;
  background-color: #e83556;
  width: 100%;
  font-size: .85rem;
}

.footer-row {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footer-logo {
  font-size: 1.75rem;
  color: #fff;
  margin: 0;
  padding-left: 1.5rem;
  letter-spacing: 2px;
}

.footer-row a {
  text-decoration: none;
}

.footer-row a:hover {
  color: #61d1d5;
}

.footer-nav {
  text-align: center;
  margin: 0;
  font-size: .85rem;
  padding-right: 1.5rem;
  letter-spacing: 2px;
}

.footer-nav ul {
  padding: 0;
  margin: 0;
}

.footer-nav ul li {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.footer-nav ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 1.65;
  font-size: 1rem;
  text-transform: uppercase;
  padding-right: 1rem;
}

.footer-nav ul li a:hover {
  color: #61d1d5;
}

#social {
  text-align: right;
  padding-right: 1.75rem;
}

#social a {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  padding-right: .75rem;
  margin-top: 3rem;
}

#social a:hover {
  color: #61d1d5;
}

.copyright {
  color: #fff;
  padding: 0 2rem 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: .7rem;
  padding-left: 1.5rem;
  text-align: right;
}

/* Mobile */
@media only screen and (max-width: 767px) {

  /* Nav */
  .navbar {
    padding: 0 1rem;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-toggle {
    margin-right: 0;
  }

  .navbar-default .navbar-brand {
    margin-top: .85rem;
  }

  .navbar-default .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-default .fa-bars {
      color: #e83556;
      font-size: 1rem;
      padding: 0;
  }

  /* .navbar-transparent .navbar-brand {
    margin-top: .07rem;
  } */

  /* Hero */
  #name-header {
    font-size: 1.5rem;
  }

  .hero h1 {
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
  }

  .hero-front-end {
    margin-bottom: 12rem;
  }

  .hero-developer {
    margin-top: 6rem;
  }

  .hero-skills {
    padding: 1rem;
  }

  .hero-skills img {
    height: 30px;
    margin: 0 .5rem;
  }

  /* Headings */
  .section-heading {
    font-size: 2rem;
  }

  /* Heart */
  #heart {
    width: 100%;
    padding: 6rem 0 4rem 0;
    background-color: #fff;
    color: #61d1d5;
  }

  .heart-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heart-heading {
    margin: 0
  }

  .wink-face {
    max-height: 40px;
    margin: .5rem 0 0 0;
  }

  .referrals-row {
    margin: 0;
    padding: 3rem 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-bottom: 1px solid rgba(232,53,86,0.25);
  }

  .referrals-row.middle {
    flex-direction: column;
  }

  .referrals-row:last-child {
    border: none;
  }

  .ref-content .fas {
    color: #61d1d5;
  }

  .ref-content {
    margin: 0;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
  }

  .ref-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .ref-image img {
    max-width: 75px;
    border-radius: 50%;
  }

  .ref-link {
    margin: .5rem 0 0 0;
  }

  .ref-link a {
    color: #e83556;
    font-size: 1.25rem;
  }

  .ref-link a:hover {
    text-decoration: none;
    color: #61d1d5;
  }

  .ref-relationship {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
  }

  /* Projects */
  .projects-section {
      padding: 6rem 0 4rem 0;
  }

  .projects-wrapper {
    margin-bottom: 0;
    padding: 0;
  }

  .projects-row {
    display: flex;
    flex-direction: column-reverse;;
    padding: 4rem 0 3rem 0;
    margin: 0 auto;
    width: 90%;
  }

  .projects-row.middle {
    padding: 4rem 0 3rem 0;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .projects-content-box {
      text-align: center;
      margin: 2rem auto 0 auto;
      width: 100%;
  }

  .projects-content-box.middle {
      text-align: center;
      margin: 2rem auto 0 auto;
      padding: 0;
  }

  .project-title {
    font-size: 2rem;
  }

  .projects-paragraph {
    font-size: 1.25rem;
  }

  .tech-title {
    font-size: 1.5rem;
  }

  .tech-used {
    font-size: 1.25rem;
  }

  .projects-row img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }

  .project-buttons {
    margin: 2rem 0 1rem 0;
  }

  .project-buttons a {
    margin-right: 0;
  }

  .github-button {
    margin-left: 0;
  }

  /* About */
  .about-section {
    padding: 5rem 0;
  }

  .about-container {
    padding: 0;
    box-shadow: none;
    width: 100%;
  }

  .story-row {
    padding: 3rem 0 0 0;
    width: 90%;
    font-size: 1.25rem;
    letter-spacing: .5px;
    line-height: 2.1rem;
    text-align: center;
  }

  .story-paragraph {
    margin-bottom: 2rem;
  }

  .about-row {
    width: 90%;
    margin: 0 auto;
    font-size: 1.25rem;
    letter-spacing: .5px;
    line-height: 2.1rem;
    text-align: center;
  }

  #about-subtitle {
    margin: 1rem 0;
    padding: 1rem 15px;
    font-size: 2rem;
  }

  .about-paragraph {
    margin: 0 auto;
    padding: 1rem 15px;
  }

  /* Blog */
  .blog-section {
    padding: 6rem 0;
  }

  .blog-wrapper {
    margin-top: 0;
  }

  .blog-row {
    width: 100%;
    margin: 0 auto;
  }

  .blog-post {
    padding: 3rem 0 0 0;
    margin: 0 auto;
  }

  .post-title {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    text-align: left;
    padding-bottom: .5rem;
  }

  .blog-content {
    width: 80%;
  }

  .blog-content p, .blog-content blockquote {
    font-size: 1.25rem;
    margin: 0 auto;
    text-align: justify;
  }

  .blog-more {
    font-size: 1.25rem;
  }

  /* Resume */
  .resume-section {
    padding: 3rem 0;
  }

  .resume-text {
    font-size: 2rem;
    text-align: center;
    width: 90%;
  }

  /* Contact */
  .contact-section {
    padding: 4rem 0 1.5rem 0;
  }

  .contact-row {
    padding: 3rem 0;
    justify-content: center;
    align-items: center;
  }

  .contact-row img {
    height: 100px;
  }

  .headshot {
    margin: 0 .5rem;
  }

  .social-icons {
    padding-left: 0;
  }

  .contact-text {
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  #contact .fas, #contact .fab {
    padding: 0 .75rem;
    font-size: 1.75rem;
    color: #000;
  }

  /* Footer */
  #footer {
    padding: 1rem 0 1rem 0;
  }

  .footer-row {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .footer-logo {
    font-size: 1.25rem;
    padding: 0;
  }

  .footer-nav {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    padding: 0;
    letter-spacing: 1px;
  }

  .footer-nav ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 1.65;
    font-size: .65rem;
    text-transform: uppercase;
    padding-right: .25rem;
  }

  .footer-nav ul li a:hover {
    color: #fff;
  }

  /* #social {
    text-align: center;
    margin: 1rem 0;
    padding: 0;
  } */

  .copyright {
    text-align: center;
    padding: 0;
    margin: 0;
  }

}

/* Tablet and Small Screens */

@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* Nav */
  .navbar {
    padding: 0 1rem;
  }

  .navbar-brand {
    font-size: 2rem;
  }

  .navbar-default .navbar-brand {
    margin-top: .85rem;
  }

  .navbar-default .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-default .navbar-nav > li > a {
    font-size: .8rem;
    letter-spacing: 2px;
    padding: 1rem 0 0 0;
    margin-left: 1.75rem;
  }

  /* .navbar-transparent {
    padding: 1rem 2rem;
  }

  .navbar-transparent .navbar-brand {
    margin-top: .07rem;
  }

  .navbar-transparent .navbar-nav > li > a {
    font-size: .9rem;
    letter-spacing: 2px;
    margin-left: 1.25rem;
    padding-top: 1.2rem;
  } */

  /* Hero */
  .hero h1 {
    font-size: 3.75rem;
    letter-spacing: 1px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
  }

  .hero p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-skills img {
    height: 50px;
    margin: 0 1.25rem;
  }

  /* Headings */
  .section-heading {
    font-size: 3rem;
  }

  /* Projects */
  .projects-section {
    padding: 8rem 0 6rem 0;
  }

  .projects-wrapper {
    margin-bottom: 3rem;
    padding: 0;
  }

  .projects-row {
    display: flex;
    flex-direction: column-reverse;;
    padding: 6rem 0 4rem 0;
    margin: 0 auto;
    width: 90%;
  }

  .projects-row.middle {
    padding: 6rem 0 4rem 0;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .projects-content-box {
    text-align: center;
    margin: 2rem auto 0 auto;
    width: 100%;
  }

  .projects-content-box.middle {
    text-align: center;
    margin: 2rem auto 0 auto;
    padding: 0;
  }

  .project-title {
    font-size: 2.5rem;
  }

  .projects-paragraph {
    font-size: 1.5rem;
  }

  .tech-title {
    font-size: 2rem;
  }

  .tech-used {
    font-size: 1.5rem;
  }

  .projects-row img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }

  .project-buttons {
    margin: 2rem 0 1rem 0;
  }

  .project-buttons a {
    margin-right: 0;
  }

  .github-button {
    margin-left: 0;
  }

  /* About */
  .about-section {
      padding: 4rem 0;
  }

  .about-container {
      padding: 4rem 0;
      box-shadow: none;
      width: 100%;
  }

  .story-row {
    padding: 2rem 0 0 0;
    width: 90%;
    font-size: 1.5rem;
    letter-spacing: .58px;
    line-height: 2.4rem;
  }

  .story-paragraph {
    margin-bottom: 2rem;
  }

  #about-subtitle {
    margin: 2rem 0;
    padding: 1rem 15px;
    font-size: 2.75rem;
  }

  .about-row {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    letter-spacing: .58px;
    line-height: 2.4rem;
  }

  .about-paragraph {
    margin: 0 auto;
    padding: 1rem 15px;
  }

  /* Blog */
  .blog-section {
    padding: 12rem 0;
  }

  .blog-wrapper {
    margin-top: 0;
  }

  .blog-row {
    width: 100%;
    margin: 0 auto;
  }

  .blog-post {
    margin-top: 5rem;
  }

  .post-title {
    font-size: 2rem;
    text-align: left;
    letter-spacing: 2px;
    padding-bottom: .5rem;
  }

  .blog-content {
    width: 90%;
  }

  .blog-content p, .blog-content blockquote {
    font-size: 1.5rem;
    margin: 0;
    text-align: justify;
  }

  .blog-more {
    font-size: 2rem;
  }

  /* Resume */
  .resume-section {
    padding: 3rem 0;
  }

  .resume-text {
    font-size: 2.5rem;
    text-align: center;
    width: 90%;
  }

  /* Contact */
  .contact-section {
    padding: 10rem 0 4rem 0;
  }

  .contact-row {
    flex-direction: column;
    padding: 5rem 0;
    justify-content: center;
    align-items: center;
  }

  .contact-row img {
    height: 150px;
  }

  .headshot {
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  .contact-text {
    margin: 0 auto;
    padding: 0;
  }

  .learn-more {
    font-size: 2.5rem;
  }

  #contact .fa {
    padding: 0 .75rem;
    font-size: 2.25rem;
    color: #000;
  }

  /* Footer */
  #footer {
      padding: 1rem 0 1rem 0;
  }

  .footer-row {
      text-align: center;
      width: 100%;
  }

  .footer-logo {
    font-size: 2rem;
    padding: 0;
  }

  .footer-nav {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    padding: 0;
    letter-spacing: 1px;
  }

  .footer-nav ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 1.65;
    font-size: .75rem;
    text-transform: uppercase;
    padding-right: .75rem;
  }

  .footer-nav ul li a:hover {
    color: #fff;
  }

  #social {
    text-align: center;
    margin: 1rem 0;
    padding: 0;
  }

  .copyright {
    text-align: center;
    padding: 0;
    margin: 0;
  }

}
